
.top-line {
  @apply border-t-2 border-solid border-gray-100;
}

.category-list, .archive-list {
  list-style: none;
  &-item {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
  }
  &-link {
    color: black;
  }
  &-cnt {
    min-width: 32px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background-color: gray;
  }
}


.slider {
  width: 260px;
  border-right: 1px solid #272a3a;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  background-color: #151728;
  overflow: auto;
  flex-shrink: 0;
  border-radius: 4px;
}

.protait {
  .name {
    color: #fff;
  }
  color: #9c9cab;
}

.chat-line {
  border-top: 1px solid #272a3a;
  .chat-sms {
    color: #fff;
  }
}

.sumary {
  border-top: 1px solid #272a3a;
  color: #9c9cab;
}

.cate-tags {
  border-top: 1px solid #272a3a;
  color: #9c9cab;
  &-con {
    padding: 20px;
  }
  .tag-item {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #272a3a;
  }
}
