.top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  border-top: 2px solid black;
  border-bottom: 1px solid #f1f1f1;
  background: #fff;

  &-container {
    max-width: 1344px;
    margin: 0 auto;
    position: relative;
  }
}

.nav {
  display: flex;
  position: relative;
  z-index: 10;
  height: 3.25rem;
  align-items: stretch;
  justify-content: space-between;
  &-right {
    display: flex;
    align-items: center;
  }
}
