@import '../../styles/index.less';

.main-container {
  padding-top: @space-1;
  padding-bottom: @space-1;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  .sm({
    max-width: 480px;
  });
  .md({
    max-width: 740px;
  });
  .lg({
    max-width: 920px;
  });
  .xl({
    max-width: 1200px;
  });

}
